@import url('https://fonts.googleapis.com/css2?family=Moon+Dance&family=Roboto:ital,wght@0,300;0,400;0,700;1,400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {

    /* About me section */
    .area-about {
        grid-template-areas: "  .  about about about about about about about  media  media media media media media";
    }

    .grid-about {
        grid-area: about;
    }

    .grid-media {
        grid-area: media;
    }



    /* Portfolio section */
    .area-portfolio {
        grid-template-areas: "lside title title title title title title title   .     .     .     .     .     .  "
                             "lside text  text  text  text  text  text  text  image image image image image image"
                             "lside ctrl  ctrl  ctrl  ctrl  ctrl  ctrl  ctrl    .     .     .     .     .     .  ";
    }


    .grid-lside {
        grid-area: lside;
    }

    .grid-title {
        grid-area: title;
    }

    .grid-text {
        grid-area: text;
    }

    .grid-image {
        grid-area: image;
    }

    .grid-ctrl {
        grid-area: ctrl;
    }


}