@import url('https://fonts.googleapis.com/css2?family=Moon+Dance&family=Roboto:ital,wght@0,300;0,400;0,700;1,400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .grid-area {
        grid-template-areas: ". text text text text text . media media media media media media media";
    }

    @screen xl {
        .grid-area {
            grid-template-areas: ". text text text text text . . . media media media media media";
        }
    }

    .grid-text {
        grid-area: text;
    }

    .grid-media {
        grid-area: media;
    }
}